.home__container {
  text-align: center;
  margin: 0;
  background-image: url("../../shared/img/chairs.jpg");
  box-shadow: 0 0 15px 15px black inset;
  background-position: center;
  height: 100vh;
}
.search__container {
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  place-items: center;
  align-content: center;
  margin-top: 3em;
  margin-bottom: 3em;
}
.title {
  display: flex;
  justify-content: center;
  color: var(--clr-accent);
  width: 20em;
  height: 25em;
  padding: 0.5em;
  margin: 1em;
}
.title--img {
  max-width: 40em;
  margin-left: -15em;
}
.title h1 {
  margin-left: -3em;
  text-align: left;
}
.card__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
}
.input {
  height: 2rem;
  width: 20rem;
  font-size: 1.3rem;
  margin: 2em;
  border-radius: 5px;
  border: none;
  padding: 0.8em;
}
.result__header {
  font-size: 1.8rem;
  font-weight: 700;
}
.movie__poster:hover {
  cursor: pointer;
}
