.favourite__container {
  background-image: url("../../shared/img/popcorn.jpg");
  background-size: cover;
  background-position: right bottom;
  text-align: center;
  padding: 1em;
}

.favourites {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .favourites {
    display: flex;
    flex-direction: column;
  }
}
