.favourite__container {
  background-image: url("../../shared/img/popcorn.jpg");
  background-size: cover;
  background-position: right bottom;
  box-shadow: 0 0 30px 30px black inset;
  text-align: center;
  padding: 1em;
  height: 100vh;
}

.favourites {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

@media screen and (max-width: 950px) {
  .favourites {
    display: flex;
    flex-direction: column;
  }
}
