.movie__container {
  border: solid 4px var(--clr-accent);
  background-color: var(--clr-secondary-opacity);
  border-radius: 10px;
  width: auto;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 2em;
  box-shadow: 5px 5px 5px #212121;
}
