@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
:root {
  --clr-primary: #852024;
  --clr-primary-dark: #4d0e10;
  --clr-secondary: #103c61;
  --clr-secondary-opacity: #103c61b0;
  --clr-secondary-dark-opacity: #0c243894;
  --clr-accent: #cfb584;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: black;
  color: whitesmoke;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
