.navigationDropdown__container {
  display: none;
}

@media screen and (max-width: 700px) {
  .navigationDropdown__container {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    width: 8em;
    padding: 0.8em;
    background-color: var(--clr-primary-dark);
    color: var(--clr-accent);
  }
}
