.navDesk__container {
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    to left,
    var(--clr-primary),
    var(--clr-primary-dark)
  );

  height: fit-content;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: flex-end;
  place-items: center;
  margin-bottom: 0;
}
.navDesk__container button {
  width: 6em;
  margin-right: 0.5em;
  height: 2.5em;
}

.bg__img {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.btn--home {
  grid-column-start: 9;
}
.btn--about {
  grid-column-start: 10;
}
.logo {
  grid-column-start: 1;
  margin-left: 1.5em;
  width: 10em;
  cursor: pointer;
}
.logo:hover {
  transform: scale(1.1);
}
