.navDesk__container {
  background-color: #852024;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: flex-end;
  place-items: center;
  margin-bottom: 0;
}
.navDesk__container button {
  width: 6em;
  margin-right: 0.5em;
  font-size: 2rem;
  height: 2.5em;
  color: #cfb584;
  background-color: #852024;
  border: none;
  border-radius: 15px;
}
.navDesk__container button:hover {
  background-color: #103c61;
  cursor: pointer;
}
.btn--home {
  grid-column-start: 9;
}
.btn--about {
  grid-column-start: 10;
}
.logo {
  grid-column-start: 1;
  margin-left: 1.5em;
  width: 10em;
  cursor: pointer;
}
.logo:hover {
  transform: scale(1.1);
}
